.mainPageContainer {
    display: grid;
}

.mainPageContainer:hover {
    cursor: default;
}

.mainPageItemsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 65px;
}

.mainPageText {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 15vh;
    padding-left: 130px;
    padding-right: 76px;
    background: #f8f8f8;
}

.prefferedRole {
    color: #d5c455;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
}

.intro {
    text-transform: capitalize;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
    color: #222222;
    margin-top: 1rem;
}

.mainPagePhotoContainer {
    background: #f8f8f8;
    height: calc(100vh - 65px);
    justify-self: flex-end;
    width: 50vw;
}

.btnContainer {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;
    margin-bottom: 5.7rem;
}

.btn {
    margin: 4px;
    padding: 18px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    background: #fff;
    border-radius: 6px;
}

.aboutMe {
    background: #d5c455;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background: #fff;
    color: #d5c455;
    transition: all 0.3s ease-in-out;
}

.fa-arrow-right-long {
    margin-left: 8px;
}

.mainPagePhoto {
    display: grid;
    justify-content: center;
    background-color: #d5c455;
}
.mainPagePhoto img{
    height: 91vh;
}
.copyrightHomePage {
    bottom: 0px;
    padding: 2rem 0;
}